.gradient-button {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 2s ease;
}

.gradient-button:hover {
    background-position: left bottom;
}

.fixed-mobile-menu {
    position: fixed; /* Fix the position */
    top: 0; /* Stick to the top */
    width: 100%; /* Take full width */
    max-height: 100vh; /* Maximum height */
    overflow-y: auto; /* Enable vertical scroll */
    z-index: 50; /* Ensure it's above other items */
  }
  